<header>
  <div class="container">
    <div class="logo">
      <a href="/"><h1>Shortly</h1></a>
    </div>

    <nav class="navbar">
      <% if (!user) { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <% } else { %>
      <a href="/">Dashboard</a>
      <a href="/profile">Profile</a>
      <a href="/logout">Logout</a>
      <% } %>
    </nav>
  </div>
</header>
